extends ../templates/header
block main
    section.profile-container
        div.profile-img_container
            img.profile-img(src="/img/user.png", alt="")
        div.profile-data
            p.profile-username #{Owner.username}
            p.profile-description &#10002; #{Owner.description}
            p.profile-followers &#x1F441; #{Owner.totalFollowers(Owner.followers)-1} followers
            p.profile-followers &#x1F441; #{Owner.following} following
        form.profile-buttons(action=`/user/find/${Owner._id}/follow` method="POST")
            if extranger === true
                button.profile-description(type="submit") Unfollow
            else
                button.profile-description(type="submit") Follow
    section.profile-publications-grid
        each Publication in Publications
            if Publication.hidden === false
                div.profile-publications-division
                    a(href=`/images/${Publication.filename}`)
                        img.profile-publications(src=`/uploads/${Publication.fileExtension}`)


